#! /bin/sh

# Set path to data
export TEAMCITY_DATA_PATH="{{ teamcity.data_path }}"

# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting teamcity "
    start-stop-daemon --start -c {{teamcity.user}} --exec {{teamcity.installation_path}}/bin/runAll.sh start
    ;;
  stop)
    echo "Stopping teamcity"
    start-stop-daemon --start -c {{teamcity.user}} --exec {{teamcity.installation_path}}/bin/runAll.sh stop
    ;;
  *)
    echo "Usage: /etc/init.d/teamcity {start|stop}"
    exit 1
    ;;
esac

exit 0